<div class="about_container">
		<p id="aboutme">Hi! I am Arun Kumar.I was born in Odisha on 28/08/1994.I did my schooling from ST.JOAN'S SCHOOL,Kolkata(The city of joy!)I recently graduated with a degree in Computer Science And Engineering.Apart from my formal education, I love to listen to music,participate in debate,play soccer,painting,watching TV.</p>
</div>