<div class="container">
	<div class="flex_container">
		<img src="/pic1.jpg" id="imaging">
		<img src="/pic2.jpg" id="imaging">
		<img src="/pic3.jpg" id="imaging">
		<img src="/pic4.jpg" id="imaging">
		<img src="/pic5.jpg" id="imaging">
		<img src="/pic6.jpg" id="imaging">
		<img src="/p1.jpg" id="imaging">
		<img src="/p2.jpg" id="imaging">
		<img src="/p3.jpg" id="imaging">
		<img src="/p4.jpg" id="imaging">
		<img src="/p5.jpg" id="imaging">
		<img src="/p6.jpg" id="imaging">
	</div>
</div>