<div class="travel_container">
	<div class="flex_container1">
		<img src="/l1.jpg" id="travelimg">
		<img src="/l2.jpg" id="travelimg">
		<img src="/l5.jpg" id="travelimg">
		<img src="/l4.jpg" id="travelimg">
	</div>
	<p id="the_heading">The Landing</p>
	<p id="location">Location: Heathrow Airport</p>
	<p id="date">Date: 29th July</p>
	<p id="Description">So I landed at Heathrow Aiport at around 9 in the evening.Pretty much excited and at the same time scared as to what lies ahead in my journey.After completion of procedure checks,I finally got in! Lo behold! Welcome to United Kingdom!The epitome of literature! The place of our beloved Sherlock Holmes! The magic of Harry Potter! Where you find football as a religion! And what not! It is everyone's dream come true to UK.And for a person like me who is travelling alone for the first time in my life miles away from home is infact one of the greatest challenges I have ever faced.Unknown land, unknown people with no one there to contact except from friends in facebook and family back at home for help.I booked a room at Hyatt hotel for a day.As the summer course at Oxford commences on 31st</p>
	<hr>
	<div class="flex_container1">
		<img src="/lpic1.jpg" id="travelimg">
		<img src="/lpic2.jpg" id="travelimg">
		<img src="/lpic3.jpg" id="travelimg1">
	</div>
	<p id="the_heading">Lost My Way!!!</p>
	<p id="location">Location: Unknown!!!</p>
	<p id="date">Date: 30th July</p>
	<p id="Description">I was about to do a summer course at Oxford which was about to start on this date.Time to leave Hyatt!Thanks for their services.I asked for direction to Oxford and they guided me through.So I had the prinout to the direction.And whoosh the magical google map! And am like "Google map show me the direction to Oxford!" whoosh google map pops up and there you go to the bus stand.Walked for around 10 mins and then suddenly no network.And guess what I was in Middle of an four-way and no one stopping by.An hour passes by and adrenaline rushing through my body.The panic alarm triggers inside me as to what to do and where to go!After waiting a while I see a car with bright strip stopping by.It was a police car!He stopped by and dropped me to Oxford.I must really appreciate the help over here and am already in love with the people over here.They are so helpful!</p>
	<hr>
	<div class="flex_container1">
		<img src="/oxf1.jpg" id="travelimg">
		<img src="/oxf2.jpg" id="travelimg">
		<img src="/oxf3.jpg" id="travelimg">
		<img src="/oxf4.jpg" id="travelimg">
	</div>
	<p id="the_heading">Hello Oxford!!!</p>
	<p id="location">Location: Oxford City</p>
	<p id="date">Date: 30tH July</p>
	<p id="Description">The moment I stepped into this city I was amazed by its beauty!The coolness! The calmness! The infrastructure itself was well enough to signify how well they have preserved the culture and tradition.WOW! The only word that came out from my mouth the moment I stepped out from my car!Had to go through the registration procedures.Violet guided me to my room at Peck Water Quad.So it was top floor and heavy luggage(you know the stress one has to go through but yes I'm ok with it. P.S: Violet helped me with my luggage.Thanks Violet! :D)</p>
	<hr>
	<div class="flex_container1">
		<img src="/room1.jpg" id="travelimg1">
		<img src="/room2.jpg" id="travelimg1">
	</div>
	<p id="the_heading">My room</p>
	<p id="location">Location: Peckwater Quad,Christ Church</p>
	<p id="date">Date: 30th July</p>
	<p id="Description">Voilah! Am so happy to get a single room! It is simply amazing.As you can see from the picture the arrangement id pretty good enough.</p>
	<hr>
	<div class="flex_container1">
		<img src="/campus1.jpg" id="travelimg1">
		<img src="/campus2.jpg" id="travelimg1">
	</div>
	<p id="the_heading">The Campus</p>
	<p id="location">Location: Christ Church</p>
	<p id="date">Date: 30th July</p>
	<p id="Description">The view itself gives chill to my spine!The feeling of being in a Harry Potter movie.The feeling of being in Hogwarts!Whooaaaaaaa !!!!! Relieving the moment!!!!</p>
	<hr>
	<div class="flex_container1">
		<img src="/thai1.jpg" id="travelimg1">
	</div>
	<p id="the_heading">Breaking The Ice</p>
	<p id="location">Location: Cuttlefish Restaurant</p>
	<p id="date">Date: 30th July </p>
	<p id="Description">Ummmmmmmmm....Honestly... I am really bad at fitting into the group.I mean am not good at breaking the ice and all.Especially for a shy introvert who has social anxiety issues.Socialising is like a mountainous task for me ever since I was a kid.Even conversing with a stranger was so difficult for me.... I don't know why but yeah it'll be all cool.I first met Freidrich Kling(Germany),Abdul Rahman(Saudi Arabia),Chris Rutters(USA),Derek Bannister(USA),Rodriguez Perez(Peru),Abrar Bhuiyan(Bangladesh).But yeah first day meeting new people was not bad after all.Despite all the social awkwardness I made some friends(which is no short of an achievement for me wooohooo!!!)</p>
	<hr>
	<div class="flex_container1">
		<img src="/class1.jpg" id="travelimg1">
	</div>
	<p id="the_heading">The Class</p>
	<p id="location">Location: Language Center,Oxford</p>
	<p id="date">Date: 1st August</p>
	<p id="Description">Ok the class commneces and the best part is that the professor is really cool.Dr.Guilermo Tireli was his name.You can see the level of intellect in his face ready to share with us.Class was really fun indeed.Now the fun part was that I had no idead regarding web development or even if I had, it was raw form but not as a professional.But the way he taught was quite impressive.</p>
	<hr>
	<div class="flex_container1">
		<img src="/pic1.jpg" id="travelimg">
		<img src="/pic2.jpg" id="travelimg">
		<img src="/pic3.jpg" id="travelimg">
		<img src="/pic4.jpg" id="travelimg">
	</div>
	<p id="the_heading">Trip To City Of Bath</p>
	<p id="location">Location:City Of Bath</p>
	<p id="date">Date: 4th August</p>
	<p id="Description">The view of the mountains with a place of historical significance.Simply amazing.In fact it is one of the most beautiful cities ever seen.</p>
	<hr>
</div>